In [1]:
import nltk
import pandas as pd

In [3]:
df= pd.read_csv("datos.csv")
df

     Unnamed: 0                                                  0
0             0  Todos sabemos q no jajajaja la contralor esta ...
1             1  Mientras la bombon siga con vida ella sera la ...
2             2  No pues Erikilla, tienes que reconocer que la ...
3             3  Lo siento Ericka, otra mujer ha llegado a mi v...
4             4  Totalmente que si, hay que bajar a esa mujer d...
..          ...                                                ...
166         166               Yahir Apolo jsksks sacan wbds jajaka
167         167  Yahir Apolo esta perdiendo fama saca su pac y ...
168         168                 Martin Hidalgo yo mil veces erika
169         169        Alexander DC ahi dense pa ver la mas guapa.
170         170  Daniel Cevallos  primo abria que ver ese otro ...

[171 rows x 2 columns]